:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

h1 {
  font-size: 3em;
  line-height: 1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#siteHeader {
  text-align: center;
  width: 100%;
  margin: 0px;
}

#header {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-top: 2rem;
}

#aboutButton {
  position: absolute;
  right: .25rem;
  top: .25rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  max-width: 5rem;
  max-height: 1.75rem;
  margin: 0rem;
}

#aboutContent {
  width: 80%;
  position: absolute;
  top: .5rem;
  left: 0rem;

}

#closeAboutContent {
  position: absolute;
  right: .5rem;
  top: .5rem;
  max-height: 2.5rem;
  max-width: 5rem;
}
#about {
  margin-top: 2rem;
  text-align: left;
  padding-left: .5rem;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

#contentWrapper {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 2rem;
  
}

#ageInputContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

#ageInput {
  width: 80px;
  max-width: 80px;
  height: 24px;
}

#ageInputText {
  color: white;
  padding-right: .5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

#optOutOfAge {
  width: 100%;
  margin-top: 0rem;
  margin-bottom: .75rem;
  text-align: center;

}

#or {
  padding-right: .25rem;
  margin-top: 0rem;
}

#ratherNotSay {
  margin-left: .25rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

input:checked + #ageInput {
  color: red;
}

#ageFeedback {
  text-align: center;
  margin: 0rem;
  height: 1.5rem;
  max-height: 1.5rem;
  padding: 0rem;
  font-size: .9rem;
  line-height: .5rem;
}

#runSimulationButtonWrapper {
  visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

}

#ageSimulationResult {
  visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding:0;

}

#ageMessage {
  margin: 0rem;
}

#ageMessage2 {
  margin-bottom: 0rem;
  margin-top: .5rem;
}

#currentTimeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  padding:0;

}

#currentTimeMessage {
  margin: 0rem;
}

#timeSpeedInput {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
}

#timeSpeedSlider {
  margin-left: .5rem;
}

#timeMultiplierValue {
  font-family: monospace;
  margin-left: .5rem;
  width: 4rem;
  font-size: 1rem;
}

#deadMessage {
  color: red;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 0rem;
}

#youAreDead {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
}

#congratulations {
  margin-top: 1rem;
}

#currentTime {
  font-family: monospace;
  font-size: 1.25rem;
  line-height: 2rem;
}
